/* Write your code here. */

.emoji {
  background-color: #ffffff33;
  padding: 30px;
  border-radius: 8px;
  list-style-type: none;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
.emoji-image {
  height: 80px;
  width: 80px;
}
button {
  all: unset;
}
/* extra small devices*/
@media screen and (max-width: 576px) {
  .emoji-image {
    height: 30px;
    width: 30px;
  }
  .emoji {
    padding: 15px;
  }
}
/* small devices*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .emoji-image {
    height: 45px;
    width: 45px;
  }
  .emoji {
    padding: 25px;
  }
}
/* medium devices*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .emoji-image {
    height: 40px;
    width: 40px;
  }
  .emoji {
    padding: 20px;
  }
}
/* Large devices */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .emoji-image {
    height: 40px;
    width: 40px;
  }
  .emoji {
    padding: 25px;
  }
}
